.header {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ececec;
}
.header__logo {
  color: #000000;
}
.header__nav {
  margin-left: 93px;
}
.header__contacts {
  margin-left: auto;
}
