.clients__title {
  @extend %title--mobile;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    color: getColor('text-title-primary-color');

    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  margin: 15px;
  flex-basis: calc((100% - 30px * 2) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px) / 6);
  }
}
.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: getTransition('border-transition');

  &:hover,
  &:focus {
    border: 1px solid getColor('link-hover-color');
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: getTransition('fill-transition');
  .clients__link:hover &,
  .clients__link:focus & {
    fill: getColor('link-hover-color');
  }
}
