.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: getColor('bgc-accent');

  @media screen and (min-width: 1200px) {
    .container {
      display: flex;
      text-align: left;
    }
  }
}
.footer__holder {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-left: 76px;
    padding-right: 89px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer__wrap {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    &:nth-child(2) {
      padding-top: 5px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(2) {
      padding-top: 12px;
      margin-left: 70px;
    }
  }
}
.footer__logo {
  color: #ffffff;
}
.footer__adress {
  margin-top: 20px;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  color: getColor('text-title-secondary-color');

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer__link {
  display: block;
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: getTransition('color-transition');

  &:nth-of-type(2) {
    margin-bottom: 8px;
  }
  &:hover,
  &:focus {
    color: getColor('link-hover-color');
  }

  @media screen and (min-width: 1200px) {
    &:nth-of-type(2) {
      margin-bottom: 9px;
    }
  }
}

.footer__invitation {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor('text-title-secondary-color');

  @media screen and (min-width: 1200px) {
    text-align-last: left;
  }
}
