.menu {
  display: flex;
  background-color: getColor('bgc-primary');

  @media screen and (max-width: 767px) {
    padding: 48px 40px;

    flex-direction: column;
    justify-content: space-between;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    transform: translateX(-100%);
    overflow: hidden;

    transition: getTransition(opacity-transition), getTransition('visability-transition'),
      getTransition('transform-transition');
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-left: 88px;
    align-items: center;
  }
}

.menu.is-open {
  @media screen and (max-width: 767px) {
    pointer-events: initial;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;

    transform: translateX(0);
  }
}
.menu__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.menu__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}
.menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: getColor('text-title-primary-color');
  transition: getTransition('color-transition');

  &:hover,
  &:focus {
    color: getColor('link-hover-color');
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.menu__link--current {
  color: getColor('link-hover-color');

  @media screen and (min-width: 768px) {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0%;
      left: 0%;

      content: '';
      width: 100%;
      height: 4px;

      background-color: getColor('text-accent-color');
      border-radius: 2px;
    }
  }
}
.header__contacts {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
