.header {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding: 0;
    width: 100%;
  }
}
.header .container {
  @media screen and (max-width: 767px) {
    position: relative;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  color: #000000;
}
.header__button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &focus {
    fill: getColor('link-hover-color');
  }

  & .header__icon--cross {
    display: none;
  }
  &.is-open .header__icon--cross {
    display: block;
  }
  &.is-open .header__icon--line {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
