.team {
  background-color: getColor('bgc-secondary');
}
.team__title {
  @extend %title--mobile;
  margin-bottom: 30px;
}
.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.team__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
  text-align: center;
  background-color: getColor('bgc-primary');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    max-width: 354px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}
.team__img {
  display: block;
  margin: 0 auto;
  //   width: 100%;
}
.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: getColor('text-title-primary-color');
}
.team__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: getColor('text-color');
}
