@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

body {
  color: getColor('text-color');
  background-color: getColor('bgc-primary');

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid blue; */
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
