@mixin nav-link($color) {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: $color;
}
